<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--添加 360SDK 必需要的权限。 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <!-- payment -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.webkit.permission.PLUGIN" />
    <!-- float sdk -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- weixin -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- qiku start -->
    <!-- 系统账户操作权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- 系统设置操作权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <!-- 语音聊天模块权限（如果定制语音聊天模块，则添加该权限） -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    
    <application>
        <meta-data android:name="DC_APPKEY" android:value="02522a2b2726fb0a03bb19f2d8d9524d"/>
        
        <!--添加 360SDK 必需的 activity -->
        <activity
            android:name="com.qihoo.gamecenter.sdk.activity.ContainerActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            >
        </activity>

        <!-- payment activities begin -->
        <!--添加 360SDK 必需的 activity:com.qihoopp.qcoinpay.QcoinActivity -->
        <activity
            android:name="com.qihoopp.qcoinpay.QcoinActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <!--alipay sdk begin -->

        <activity android:name="com.alipay.sdk.app.H5PayActivity" android:screenOrientation="portrait" >
        </activity>
        <!--alipay sdk end -->
        <!-- 微信支付界面-->
        <activity
            android:name="com.iapppay.pay.channel.weixinpay.WeixinWapPayActivity" android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.junnet.heepay.ui.activity.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="com.junnet.heepay.ui.activity.WechatPaymentActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:excludeFromRecents="true"
                  android:screenOrientation="behind"
                  android:theme="@android:style/Theme.Dialog"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name="com.ipaynow.plugin.activity.PayMethodActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:exported="false"
                  android:screenOrientation="behind"
                  android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.ipaynow.plugin.inner_plugin.wechat_plugin.activity.WeChatNotifyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.NoDisplay"/>
        <!-- payment activities end -->
        <!--如下是 360 游戏实时推送 SDK 必要声明,不可修改 -->
        <receiver
            android:name="com.qihoo.psdk.local.QBootReceiver" android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver> 
        <activity android:name="com.qihoo.psdk.app.QStatActivity" android:launchMode="singleInstance"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <service
            android:name="com.qihoo.psdk.remote.QRemoteService" android:exported="true"
            android:process=":QRemote" >
            <intent-filter>
                <action android:name="com.qihoo.psdk.service.action.remote" />
            </intent-filter>
        </service>
        <service
            android:name="com.qihoo.psdk.local.QLocalService" android:exported="true"
            android:process=":QLocal" >
            <intent-filter>
                <action android:name="com.qihoo.psdk.service.action.local" />
            </intent-filter>
        </service>
        <!-- push sdk end -->

        <!--微信相关的 activity,如需接入,请直接使用 demo 中的 WXEntryActivity 类的代码实现, 类的全名为:“应用包名.wxapi.WXEntryActivity”。
            注意 1: 除非游戏打算以后永远不会支持微信分享,否则建议游戏把这个 actvity 的配置加上。
            此版本的 SDK 支持从服务端配置微信分享的 appid。
            Manifest 中的 QHOPENSDK_WEIXIN_APPID 字段可以先不配,后续申请到微信的 appid 可以在服务端配置。 注意 2:不要修改此 actitiy 的 android:name 属性。
            例如:如果游戏的包名为 com.a.b.c,那么应该将 demo 中的 WXEntryActivity.java 放到 “${工程目录}/src/com/a/b/c/wxapi/WXEntryActivity.java”这个路径下。
            并将此 java 文件中的第一行 package 声明修改为“package com.a.b.c.wxapi;”
        -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true" />
        <!-- qiku 组件 start -->
        <activity
            android:name="com.coolcloud.uac.android.plug.view.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.coolcloud.uac.android.api.view.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.coolcloud.uac.android.api.view.AuthenticateActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity android:name="com.coolcloud.uac.android.api.view.FindpwdActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.coolcloud.uac.android.api.view.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" > </activity>
        <activity
            android:name="com.coolcloud.uac.android.api.view.OAuth2Activity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.coolcloud.uac.android.api.view.RegisterActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- qiku 组件 end --> <!-- UpdateLib start -->
        <service
            android:name="com.qihoo.appstore.updatelib.CheckUpdateService"
            android:exported="false" />
        <activity
            android:name="com.qihoo.appstore.updatelib.CheckUpdateAcitivty"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent" />
        <!-- UpdateLib end -->
        <!-- gameunion plugin start -->
        <activity
            android:name="com.qihoo.gameunionforsdk.SimpleWebView"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- gameunion plugin end -->
    </application>

</manifest> 
