GRTAGS
GPATH
GTAGS
GSYMS
.DS_Store
.tramp_history
xcuserdata
CollectFile.txt
GUITemplate.bin
*.pzd
*.user
*.ncb
*.pdb
*.suo
*.sdf
.emacs.desktop*
*.stackdump
*.opensdf
~*
*~
/build
/build-*
bin
Output
ipch
win32
build
temp
obj