<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <!-- 现代支付权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.webkit.permission.PLUGIN" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    
    <!-- 照相的权限 -->
	<uses-feature android:name="android.hardware.camera" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.hardware.camera.autofocus" />
	
	<!-- 读取短信验证码	可选 -->
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	
	<!-- 录像需要的权限 -->
	<uses-permission android:name="android.permission.RECORD_VIDEO"/>
    
    <application
        android:allowBackup="true"
        >
        <!-- 易联支付 -->
        <activity android:name="com.game.sdk.ui.BankEcopayActivity"
			      
			      android:theme="@android:style/Theme.NoDisplay"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"
                  android:configChanges="keyboardHidden|orientation"
                  /> 
        <!-- 支付宝支付 -->
        <activity android:name="com.game.sdk.ui.AlipayActivity"
			      android:theme="@android:style/Theme.NoDisplay"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"
                  android:configChanges="keyboardHidden|orientation"
                  /> 
        <!-- 易宝支付 -->
        <activity android:name="com.game.sdk.ui.BankpayActivity" 
			      android:theme="@android:style/Theme.NoDisplay"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"
                  android:configChanges="keyboardHidden|orientation"
                  />
        
        <activity android:name="com.game.sdk.ui.TCLActivity"
			      android:theme="@android:style/Theme.NoDisplay"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"
                  android:configChanges="keyboardHidden|orientation"
                  /> 
        <activity 
            android:name="com.game.sdk.ui.PtbActivity" 
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="keyboardHidden|orientation"
            />
        <!-- 易宝卡类支付 -->
        <activity 
	        android:name="com.game.sdk.ui.MoblieCardActivity" 
	        android:screenOrientation="portrait"
	        android:theme="@android:style/Theme.NoTitleBar"
	        android:configChanges="keyboardHidden|orientation"
            />
        
        <activity android:name="com.game.sdk.ui.ChargeActivity"
			      android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"
                  android:configChanges="keyboardHidden|orientation|screenSize|keyboardHidden"
                  /> 
        <activity android:name="com.game.sdk.ui.LoginActivity" 
                  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"
                  android:configChanges="keyboardHidden|orientation|screenSize|keyboardHidden"
                  />
        <activity 
            android:name="com.game.sdk.ui.OnkeypayChargeNextActivity" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"/>
        
        <activity 
            android:name="com.game.sdk.ui.MoblieCardNextDealActivity" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            />
        
        
        <!-- 微信支付 -->
        <activity 
            android:name="com.game.sdk.ui.NowpayActivity" 
            android:theme="@android:style/Theme.NoDisplay"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation"
            />
        
        <activity
			android:name="com.ipaynow.plugin.activity.PayMethodActivity"
			android:theme="@android:style/Theme.Dialog"
			android:configChanges="orientation|keyboardHidden"
			android:exported="false"
			android:screenOrientation="portrait">
		</activity>
		
		<activity
			android:name="com.ipaynow.plugin.inner_plugin.prepay_plugin.activity.PrePayActivity"
			android:windowSoftInputMode="adjustResize"
			android:screenOrientation="portrait" >
		</activity>
		
		<activity
			android:name="com.ipaynow.plugin.inner_plugin.prepay_plugin.activity.NotifyActivity"
			android:configChanges="orientation"
			android:exported="false"
			android:screenOrientation="portrait" >
		</activity>
        
        <activity
			android:name="com.ipaynow.plugin.inner_plugin.wechatwp.activity.WeChatNotifyActivity"
			android:theme="@android:style/Theme.NoDisplay">
		</activity>

       	<!-- 浮点 -->
        <activity android:name="com.game.sdk.floatwindow.FloatWebActivity" 
                  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                  android:configChanges="orientation|keyboardHidden"/>
        
        
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        
        <!-- alipay sdk end -->
        
        <!-- TCL -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!-- TCL end-->
        
        <service android:name="com.game.sdk.SDKService">
            <intent-filter android:priority="1000">
            </intent-filter>
        </service>
        
        <service android:name="com.game.sdk.push.PushService"/>
        
        <!-- 插件入口界面 -->
		<activity
			android:name="com.payeco.android.plugin.PayecoPluginLoadingActivity"
			android:launchMode="singleTask" 
			android:screenOrientation="portrait" 
			/>
		
		<!-- 插件拍照界面 -->
		<activity
			android:name="com.payeco.android.plugin.PayecoCameraActivity"
			android:screenOrientation="portrait" 
			/>
		
		<!-- 插件录像界面 -->
		<activity
			android:name="com.payeco.android.plugin.PayecoVedioActivity"
			android:screenOrientation="portrait"
			android:process="com.payeco.android.plugin.vedio"
			/>
		
		<!--百度插件部分  -->
		<service
			android:name="com.baidu.location.f"
			android:enabled="true"
			android:process=":remote" >
			<intent-filter>
				<action android:name="com.baidu.location.service_v2.2" >
				</action>
			</intent-filter>
		</service>
		
		<!-- meta-data需要写在application中 -->
		<meta-data
			android:name="com.baidu.lbsapi.API_KEY"
			android:value="DhNxS47YIr3CNdocGoAcy1ts" />
    </application>
    
</manifest> 
