GRTAGS
GPATH
GTAGS
GSYMS
.DS_Store
xcuserdata
CollectFile.txt
GUITemplate.bin
*.pzd
*.user
*.ncb
*.pdb
*.suo
*.sdf
.#*
.emacs.desktop*
*.stackdump
*.opensdf
~*
gen
/build
bin
Output
ipch
win32
build
temp
obj